apiVersion: 1

datasources:
  # <string, required> name of the datasource. Required
  - uid: prometheus
    orgId: 1
    name: Prometheus
    type: prometheus
    typeName: Prometheus
    access: proxy
    url: http://prometheus:9090
    password: ""
    user: ""
    database: ""
    basicAuth: false
    isDefault: true
    readOnly: false
    editable: true
